In [10]:
import pandas as pd
df = pd.read_csv('adventure_works_purchase_orders.csv')

In [29]:
#Calculate Total Orders by Region, to see bad performanse / Germany
df.groupby('Sales_Region')['OrderQty'].sum().sort_values()

Sales_Region
Germany               1
France            12053
United States    132971
Name: OrderQty, dtype: int64

In [59]:
#Identify Sales Person in all regions / Rachel Valdez(Germany) and Ammy Alberts(United States)
df["Cash_In"] = df["OrderQty"] * df["UnitPrice"]
df["Total_Cost"] = df["OrderQty"] * (df["Unit_Cost"] + df["Unit_Freight_Cost"])
df["Profit"] = df["Cash_In"] - df["Total_Cost"]
df.groupby(['Sales_Region','Sales_Person'])['Profit'].sum().sort_values(ascending = True).map('${:,.0f}'.format)

Sales_Region   Sales_Person
Germany        Rachel Valdez                     $144
United States  Amy Alberts                    $59,994
               Stephen Jiang                 $487,279
               Tete Mensa-Annan            $1,247,677
               Pamela Ansman-Wolfe         $2,004,519
France         Ranjit Varkey Chudukatil    $2,163,883
United States  David Campbell              $2,238,547
               Shu Ito                     $3,824,784
               Tsvi Reiter                 $4,389,601
               Michael Blythe              $5,443,310
               Jillian Carson              $5,859,816
               Linda Mitchell              $6,174,676
Name: Profit, dtype: object

In [60]:
# Worst 4 sellers
df.groupby(['Sales_Region','Sales_Person'])['Profit'].sum().sort_values(ascending = True).map('${:,.0f}'.format).head(4)

Sales_Region   Sales_Person
Germany        Rachel Valdez             $144
United States  Amy Alberts            $59,994
               Stephen Jiang         $487,279
               Tete Mensa-Annan    $1,247,677
Name: Profit, dtype: object

In [57]:
#Find which categories have bad/negative margin
df.groupby(['Product_Category']).sum()[["OrderQty", "Profit"]]

                  OrderQty        Profit
Product_Category
Accessories          15792 -2.034284e+05
Bikes                53544  3.011413e+07
Clothing             41751 -6.442598e+05
Components           33938  4.627791e+06

In [87]:
# High Freight Cost produce negative Margin on Accessories and Clothing
df.groupby("Product_Category")["Profit"].sum().sort_values().map('${:,.0f}'.format)

Product_Category
Clothing         $-644,260
Accessories      $-203,428
Components      $4,627,791
Bikes          $30,114,129
Name: Profit, dtype: object

In [4]:
#Find which product sub groups are bad / Touring Bikes, Tires and Tubes and Chains and brakes
df.groupby(['Product_Category','Product_Sub_Category'])['OrderQty'].sum()

Product_Category  Product_Sub_Category
Accessories       Bike Racks               1616
                  Bottles and Cages        1479
                  Cleaners                 1400
                  Helmets                  8291
                  Hydration Packs          1087
                  Locks                     737
                  Pumps                     778
                  Tires and Tubes           404
Bikes             Mountain Bikes          17377
                  Road Bikes              29310
                  Touring Bikes            6857
Clothing          Bib-Shorts               2131
                  Caps                     3813
                  Gloves                   7639
                  Jerseys                 11821
                  Shorts                   6040
                  Socks                    3695
                  Tights                   3194
                  Vests                    3418
Components        Bottom Brackets           577
                  Brakes                    653
                  Chains                    512
                  Cranksets                 713
                  Derailleurs               707
                  Forks                     455
                  Handlebars               2769
                  Headsets                  712
                  Mountain Frames          8403
                  Pedals                   2737
                  Road Frames              8427
                  Saddles                  1343
                  Touring Frames           2006
                  Wheels                   3924
Name: OrderQty, dtype: int64

In [40]:
#Track orders of Touring Bikes by Regions
df_touring_bikes = df[df['Product_Sub_Category']=='Touring Bikes']
df_touring_bikes.groupby(['Sales_Region','Sales_Province'])['OrderQty'].sum().sort_values(ascending = True)

Sales_Region   Sales_Province
United States  Michigan           414
               Minnesota          609
               Tennessee          642
               Oregon             669
               Washington         687
               Massachusetts      809
               Utah               954
               California         999
France         Gironde           1074
Name: OrderQty, dtype: int64

In [84]:
#Track orders of Touring Bikes Michigan, Minnesota and Tennessee
df_touring_bikes = df[(df['Product_Sub_Category']=='Touring Bikes') & (df['Sales_Province'].isin(['Michigan','Minnesota','Tennessee']))]
table = df_touring_bikes.reset_index().pivot_table(values = 'OrderQty',index = 'Sales_Province',columns = 'OrderDate')  
print (table)

OrderDate       1/1/08   10/1/07   11/1/07   12/1/07    2/1/08    3/1/08  \
Sales_Province
Michigan        1.2500  1.333333  3.588235  3.000000  2.437500  1.947368
Minnesota       1.6875  1.736842  2.300000  2.022727  2.363636  2.416667
Tennessee          NaN       NaN  2.937500  1.672414  1.562500  2.019231

OrderDate         4/1/08    5/1/08    6/1/08    7/1/07    8/1/07    9/1/07
Sales_Province
Michigan        2.000000  2.785714  3.000000  1.333333  3.470588  3.833333
Minnesota       1.588235  1.625000  2.404762  1.684211  1.833333  2.173913
Tennessee            NaN  2.625000  2.103448       NaN  2.800000  2.426230